@use './variaveis' as *;

.cabecalho{
    background-color: $accent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: $backgrond;
        align-items: center;
        justify-content: center;
      
    }
}