//importando tudo de variaveis 
@use './variaveis.scss' as *;

//container principal que envolve as colunas do quadro
.conteiner {
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  margin-top: 10px;
}

//estilo para cada coluna do kanban
.coluna {
  background-color: #eaeaea;
  padding: 12px;
  border-radius: 10px;
  width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

//cabeçalho da página com título centralizado
.titulopg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eaeaea;
}

//container para tabelas, centraliza conteúdos horizontal e verticalmente
.tabelas {
  display: flex;
  justify-content: center;
  align-items: center;
}
